@import '../../Slide/Slide.module.scss';

.slideContainer{
   @include componentsBorder(1px solid $vreel_gray, auto);
   .button{
      color: $vreel_gray;
      opacity: .8;
   }
   .slide{
      .slideBody {
            padding: 10px 12px;
         }
   }
}

.innerSlide{
   padding:0 4px;
   color:$primary;
   textarea{
        width: 100%;
        border-radius: 5px;
        padding: 8px 10px;
   }
}