.vreel-input {
  &:not(:first-child) {
    margin-top: 36px;
  }
  &__wrapper {
    &.edit {
      margin-top: 0;
    }
    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 15px 0;
      &.checkbox-label {
        display: inline-block;
        font-size: 12px;
        margin-right: 10px;
      }
    }

    input {
      position: relative;
      width: 449px;
      height: 61px;
      background: #e5e5e5;
      border: none;
      border-radius: 5px;
      padding-left: 25px;
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      &#edit {
        width: 100%;
        height: 40px;
      }
      &#edit-checkbox {
        position: relative;
        top: 3px;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border-radius: 3px;
      }
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        font-size: 14px;
        line-height: 21px;
        margin-left: 25px;
        &.username {
          position: absolute;
        }
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        font-size: 14px;
        line-height: 21px;
        margin-left: 25px;
      }

      &::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        font-size: 14px;
        line-height: 21px;
        margin-left: 25px;
      }
    }
  }
}
