@import '../../../../../styles/sass/settings/_settings';

.slidesContainer {
  @include displayFlex(100%, flex, space-between, flex-start);

  &__leftSides {
    @include displaySizing(100%, max-content);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: $rounded-2xl;
    @media only screen and (min-width: 1024px) {
      @include displaySizing(50%, max-content);
    }
    @media only screen and (min-width: 1236px) {
      @include displaySizing(35%, max-content);
    }
    .slides {
      background-color: $vreel_light_gray;
      padding: 8px 16px;
      // @include displaySizing(90%, 100%);
      margin: 0 auto;

      &__addSlides {
        padding: 15px 0px;
        @include displayFlex(100%, flex, space-between, center);

        span {
          color: $vreel_white;
          font-weight: $font-semibold;
        }
      }
    }
  }

  &__rightSlides {
    position: sticky;
    top: 0;
    right: 0;
    margin-left: 1%;
    display: none;

    @include displaySizing(49%, 100vh);
    @media only screen and(min-width:1024px) {
      display: block;
    }
    @media only screen and (min-width: 1236px) {
      @include displaySizing(64%, max-content);
    }
    &__container {
      background-color: $vreel_light_gray;
      border-radius: $rounded-2xl;
      padding: 16px 30px;
      @include displaySizing(90%, max-content);
      margin: 0 auto;
      transition: all 0.5s ease-in-out;
      @media only screen and(min-width:1236px) {
        @include displaySizing(60%, max-content);
        margin: 0 auto;
      }

      &__prevToggleBtn {
        @include displayFlex(100%, flex, center, center);
        padding: 13px 0;
      }
    }
  }
}
.active {
  @include displaySizing(100%, max-content);
}
