@import '@sass/settings/_settings';

.callToActionsContainer{
    padding: 8px 4px;
    color:$primary;
    p{
        text-align: center;
        color:$secondary;
        font-size: 10px;
    }
    & > div{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-gap: 8px;
        padding: 20px 0;
        & > div{
            padding: 4px;
            border-radius: 10px;
            transition: all .1s ease-in-out;
            @include displayFlex(auto,flex,center,center);
            cursor: pointer;
            flex-direction: column;
            & > span{
                font-size: 8px;
            }
        }
        .active{
            background-color: $secondary;
        }
        .deactive{
            background-color: $vreel_white;
        }
    }
    .lastLink{
        padding-bottom: 8px;
    }
}