@import '../../Slide/Slide.module.scss';

.slideContainer{
   @include componentsBorder(1px solid $vreel_gray, auto);
   .button{
      color: $vreel_gray;
      opacity: .8;
   }
   .slide{
      .slideBody {
            padding: 10px;
         }
   }
}

.innerSlide{
   padding:0 4px;
   color:$primary;
}