@import "./fonts.scss";
@import "./_color.scss";

button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: all ease 0.5s;

  &:active {
    transform: scale(0.95);
  }
}
