@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fonts.css';
@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";

body {
  font-family: 'Poppins';
  max-width: 100vw;
}

h1 {
  @apply font-medium leading-tight text-5xl mt-0 mb-2;
}
h2 {
  @apply font-medium leading-tight text-4xl mt-0 mb-2;
}
h3 {
  @apply font-medium leading-tight text-3xl mt-0 mb-2;
}
h4 {
  @apply font-medium leading-tight text-2xl mt-0 mb-2;
}
h5 {
  @apply font-medium leading-tight text-xl mt-0 mb-2;
}
h6 {
  @apply font-medium leading-tight text-base mt-0 mb-2;
}
p {
  @apply text-base font-light leading-relaxed mt-0 mb-4 text-gray-800;
}
.p-lead {
  @apply text-base  font-light leading-relaxed mt-0 mb-4 text-gray-800;
}
a {
  @apply text-primary hover:text-secondary transition duration-300 ease-in-out;
}

.bg-image {
  @apply bg-cover bg-no-repeat bg-center;
}
.sb {
  @apply border border-red-500;
}

button {
  @apply transition-transform duration-200 active:scale-95 ease-in;
}

.btn-slide {
  @apply bg-white text-black text-sm lg:text-xl font-bold text-center  rounded-md;
}

/* CONTAINER */
.container {
  @apply mx-auto max-w-[90%];
}

/* Reg Log BG */
.reg-log-bg {
  background-image: url(/assets/images/regLogBg.png);
}

/* Scroll design */
.scroll {
  direction: rtl;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.item {
  direction: ltr;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid #ffffff;
}

.scroll::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 4px;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  background-clip: padding-box;
}

@media (min-width: 1536px) {
  .container {
    @apply max-w-[80%];
  }
}

/* DASHBOARD */
.advance {
  position: relative;
  text-align: center;
}

.advance:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30%;
  border: 1px solid #ff7a00;
}
.advance:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30%;
  border: 1px solid #ff7a00;
}

.dashboard-nested {
  position: relative;
  padding-left: 25px;
}
.dashboard-nested::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
  width: 20px;
  border: 2px solid #000;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 6px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@import './swiper.css';
