.swiper .swiper-pagination.swiper-pagination-bullets {
  @apply bottom-0 lg:bottom-5;
  max-width: 270px;
  transform: translate(-50%, -50%);
  left: 50%;
}
.swiper span.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
  height: 7px;
  width: 7px;
}
.swiper span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 10px;
  width: 10px;
  background: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 75px;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.swiper .swiper-button-next {
  background-image: url('/assets/next.svg');
  transition: transform 0.5s ease;
  margin-right: 0.8rem;
}

.swiper .swiper-button-next:hover {
  transform: scale(1.1);
}

.swiper .swiper-button-next::after {
  display: none;
}
.swiper .swiper-button-prev {
  background-image: url('/assets/prev.svg');
  transition: transform 0.5s ease;
  margin-left: 0.8rem;
}
.swiper .swiper-button-prev:hover {
  transform: scale(1.1);
}
.swiper .swiper-button-prev::after {
  display: none;
}

@media (min-width: 1020px) {
  .swiper .swiper-button-next {
    margin-right: 3rem;
  }
  .swiper .swiper-button-prev {
    margin-left: 3rem;
  }
}
